<div class="form-area">
  <h1>Post Form</h1>
  <br><Br>
    <input type="text" placeholder="Post Title" [(ngModel)] = "postTitle" >
    <br><Br>
    <textarea cols="30" rows="10" placeholder="Post Details" [(ngModel)] = "postDetails"></textarea>
    <br><Br>
    <input type="text" placeholder="Post Image URL"[(ngModel)] = "postURL" >
    <br><Br>
    <input type="text" placeholder="Post URL" [(ngModel)] = "postURL">
    <br><Br>
    <input type="checkbox" [(ngModel)] = "addBackground"> Add Background
    <br><Br>

</div>

<div class="preview-area">
  <h1>{{ postTitle }}</h1>
  <p> {{ postDetails}}</p>
</div>
