<!-- <h1 class = "text-red">Angular App</h1> -->
<h1 [class.text-red] = "bool" >Angular App</h1>

<h1 [style.color] = "bool? 'blue' : 'red' " > Style Binding</h1>

<!-- event binding / some kind of action-->
<button (click) = "buttonClick()" > Click Me </button>

<!-- <input type="text" (keyup) = "onKeyup($event)" > -->

<!-- Event filtering -->
<!-- <input type="text" (keyup.enter) = "onKeyup()" > -->

<!-- How to get the type value -->
<!-- <input type="text" (keyup.enter) = "onKeyup($event)" > -->

<!-- get username in textbox -->
<input type="text" (keyup.enter) = "onKeyup(username.value)" #username >



<!-- <p> {{message}} </p> -->
<!-- <p> {{1 + 2}} </p>     <result: 3 in app.component.ts> -->



<!-- Property Binding -->
<!-- 
<img  src="{{imgUrl}}" alt="moose"> -->
<!-- <img  [src]="imgUrl" alt="moose"> property binding -->

<!-- <script>
  let i = 'Javascriptscope'
</script> -->

<!-- <p>{{ message }}</p>

<app-navbar></app-navbar>
<app-post [fromParent] = 'parentMessage' (messageEvent)="reciveMessage($event)"></app-post>
<p>{{ fromChildOutput }}</p>
 -->
